<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <!-- C S S -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Icon -->
    <link rel="icon" type="image/png" href="../static/img/">
</head>
<body>
    <h2>Teste 1</h2>
      <!-- J S -->
    <script src="../static/script.js"></script>
</body>
</html>